<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<meta name="id" content="0001">
	<meta name="description" content="IRONX Home">
   	<meta name="author" content="Iron Boy">

	<link rel="icon" type="image/png" href="../../assets/icons/S/S1.png">
   	<title>IRONX- Home</title>
        
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../../assets/fontawesome/css/all.css" />
        
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    
    <video class="bg-video" playsinline autoplay muted loop>
        <source src="../../media/home/videos/Gaming BG.mp4" type="video/mp4" />
    </video>
    
    <div class="container-fluid m-0 p-0 text-light">
        <div class="row p-0 m-0">
            <div class="col-sm-8 m-0 p-5 d-flex flex-column justify-content-center align-items-center trans-bg">
                <img src="../../media/home/images/Garou Profile.jpg" class="img-thumbnail rounded-circle" alt="Daewi Samael">
                <h1 class="display-1 my-3"><strong>Daewi Samael</strong></h1>
                <h6 class="display-6">@Iron_Boy</h6>        
                <p class="my-5 lead">
                    Polytropon thinking about Mathematics, Data Science, Ethics, Collective Intelligence & Cognition.
                    I'm here to Learn & Build.
                </p>
                <button class="btn btn-light rounded-pill p-3 type="submit" onClick="window.open('https://www.youtube.com/@ironxdiamond', '_self');"><b>Know More!</b></button>
            </div>
            <div class="col-sm-4 m-0 p-5 d-flex flex-row flex-sm-column justify-content-center align-items-center">
                <!-- <a class="btn btn-light shadow m-3" href="https://facebook.com/deviparsad.samal" target="_blank"><i class="fab fa-facebook-f"></i></a> -->
                <a class="btn btn-light shadow m-3" href="https://www.instagram.com/ironxdiamond/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-light shadow m-3" href="https://twitter.com/ironxdiamond" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-light shadow m-3" href="https://github.com/Omni-Being" target="_blank"><i class="fab fa-github"></i></a>
                <!-- <a class="btn btn-light shadow m-3" href="https://www.linkedin.com/in/devi-parsad-samal-628656125" target="_blank"><i class="fab fa-linkedin"></i></a> -->
                <a class="btn btn-light shadow m-3" href="mailto:devi.parsad2000@gmail.com" target="_blank"><i class="fab fa-google"></i></a>
            </div>
        </div>    
    </div>    

    <script src="../../assets/jquery/jquery-3.6.3.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../assets/fontawesome/js/all.js"></script>

</body>
</html>
