@charset "UTF-8";


html, body
{
	height: 100%;
	overflow: auto !important;
}


video.bg-video
{
	position: fixed;
	object-fit: cover;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
}


.container-fluid, .row
{
	position: relative;
	height: 100%;
  	width: 100%;
}


.trans-bg
{
	background-color: rgba(0,0,0,0.8);
}


.img-thumbnail
{
	height: 200px;
	width: auto;
}